
<form class="form-sign-in" action="{{ path('fos_user_registration_register') }}" method="POST" class="form-horizontal">
    {{ form_start(form) }}
    {{ form_widget(form.email,{'attr': {'class': 'form-control input-sign-up', 'placeholder': 'Email', 'required': 'required'}}) }}
    {{ form_widget(form.username,{'attr': {'class': 'form-control input-sign-up', 'placeholder': 'Username', 'required': 'required'}}) }}
    {{ form_widget(form.plainPassword.first,{'attr': {'class': 'form-control input-sign-up', 'placeholder': 'Password', 'required': 'required'}}) }}
    {{ form_widget(form.plainPassword.second,{'attr': {'class': 'form-control input-sign-up', 'placeholder': 'Retype password', 'required': 'required'}}) }}
    <div class="center">
        <input class="btn btn-default btn-sign-up" type="submit" value="Sign Up" />
    </div>

    {{ form_end(form) }}
</form>
